script(src="js/vendor/jquery-3.4.1.min.js")
script(src="js/vendor/jquery.datetimepicker.full.min.js")
script(src="js/vendor/jquery.bpopup.min.js")
script(src="js/vendor/jquery.selectric.min.js")
script(src="js/common.js")

