header.header
    .container
        .header__wrap
            .header__wrap-itm.header__wrap-left
                .header__wrap-inner
                    .header__outer.header__outer--between
                        .header__itm
                            .header__wrap
                                a.logo(href='dashboard.html' title='logo')
                                    img.logo__img(src='img/logo.svg' alt='logo')
                        .header__itm
                            .header__outer.header__buttons
                                .header__itm
                                    a.btn-c.btn-c--blue.js-show-popup(href="#")
                                        span.btn-c--text Make New Order
                                .header__itm
                                    a.btn-c.btn-c--blue.js-show-popup(href="#requestNewProduct")
                                        span.btn-c--text Request new
                                            br
                                            | product
                                .header__itm
                                    a.btn-c.btn-c--blue.js-show-popup(href="#logIssue")
                                        span.btn-c--text Log Issue
                                //.header__itm
                                //    a.btn-c.btn-c--blue.js-show-popup(href="#addNewTask")
                                //        img.icon.icon--plus(src="img/plus.svg")
                                //        span.btn-c--text Add task
            .header__wrap-itm
                .header__wrap-inner
                    .header__outer.header__buttons
                        .header__itm
                            .header__call
                                svg.icon.icon--call(viewBox='0 0 30 30', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M15 30c8.284 0 15-6.716 15-15 0-8.284-6.716-15-15-15C6.716 0 0 6.716 0 15c0 8.284 6.716 15 15 15z', fill='#D1E7FF')
                                    g(fill='#0F73E7')
                                        path(d='M15.679 12.285a2.035 2.035 0 012.035 2.036.679.679 0 001.357 0 3.393 3.393 0 00-3.392-3.393.679.679 0 000 1.357z')
                                        path(d='M15.679 9.571a4.75 4.75 0 014.75 4.75.679.679 0 001.357 0 6.107 6.107 0 00-6.107-6.107.679.679 0 000 1.357zM21.616 17.653a.677.677 0 00-.489-.441l-4.071-.93a.68.68 0 00-.624.177c-.095.088-.102.094-.543.936a6.724 6.724 0 01-3.305-3.318c.862-.435.869-.435.957-.536a.678.678 0 00.176-.625l-.93-4.024a.679.679 0 00-.44-.488 2.574 2.574 0 00-.489-.122 2.673 2.673 0 00-.522-.068 3.121 3.121 0 00-3.122 3.121 10.463 10.463 0 0010.45 10.45 3.12 3.12 0 003.122-3.121 2.948 2.948 0 00-.17-1.011z')
                                span.header__call--time 02:34
                        .header__itm
                            a.btn-c.btn-c--call.btn-c--red.js-show-popup(href="#finishCall") Finish Call

