.popup.popup--new-task#selectAddress
    .popup__top
        h2.title-h2 Select Addresses
        a.popup__close.b-close(href='#')
    .popup__header-btn
        button.btn-dd.btn-c--blue.js-show-popup(href="#") + Add Address
    .popup__bottom
        form.form
            .address-list
                .address-block
                    .address-block-wrapper
                        img.address-block-check(src='img/check-empty.svg' alt='')
                        .address-block-content
                            span Marian Frazier
                            span 8285C Center Ave.
                            span Latrobe, Pensylvania 15680
                    a.address-block-edit.js-show-popup(href="#editAddres") Edit
                .address-block
                    .address-block-wrapper
                        img.address-block-check(src='img/check-empty.svg' alt='')
                        .address-block-content
                            span Marian Frazier
                            span 8285C Center Ave.
                            span Latrobe, Pensylvania 15680
                    a.address-block-edit.js-show-popup(href="#editAddres") Edit
                .address-block
                    .address-block-wrapper
                        img.address-block-check(src='img/check-empty.svg' alt='')
                        .address-block-content
                            span Marian Frazier
                            span 8285C Center Ave.
                            span Latrobe, Pensylvania 15680
                    a.address-block-edit.js-show-popup(href="#editAddres") Edit
                    .address-block-information Do not deliver on this address
                .address-block.address-block__check
                    .address-block-wrapper
                        img.address-block-check(src='img/check-circle-blue.svg' alt='')
                        .address-block-content
                            span Marian Frazier
                            span 8285C Center Ave.
                            span Latrobe, Pensylvania 15680
                    a.address-block-edit.js-show-popup(href="#editAddres") Edit
            .form__btn.form__btn--center
                .form__btn-itm
                    a.btn-b.b-close(href='#') Cancel
                .form__btn-itm
                    button.btn-a.btn-a--small(type='button') Save
