.popup.popup--request-new-product#orderReceived
    .popup__top
        h2.title-h2 Your order has been received
        a.popup__close.b-close(href='#')
    .popup__bottom
        .title-p Your order # is: 2938423562
        .title-p You will receive an order confirmation with details of your order and a link to track its progress.

