.popup.popup--outbound-call#outboundCall
    .popup__top
        h2.title-h2 7 products back in stock
        a.popup__close.b-close(href='#')
    .popup__bottom
        .title-p 7 products from your list are available now. Would you like to review them now?
        form.form
            .form__btn.form__btn--center
                .form__btn-itm
                    a.btn-b.b-close.btn-b--medium(href='#') Later
                .form__btn-itm
                    button.btn-a(type='button') Yes
