.popup.popup--shop-cart#shopCart
    .card-box.card-box__small
        a.popup__close.b-close(href='#')
        .panel__outer
            h2.title-h2 Shopping Cart
                span 10
            .shopping-cart-wrapper
                .shopping-cart
                    .btn-del
                        img.icon.icon--trash(src='img/trash.svg')
                    .btn-fav
                        img.icon.icon--trash(src='img/favorite.svg')
                    .shopping-cart__title Shop No7 Protect & Perfect Intense Advanced Eye Cream
                    .shopping-cart__content
                        .shopping-cart__content--name SKU 2345
                        .shopping-cart__content--price Unit price: $22.99
                    .shopping-cart__footer
                        .counter-box
                            .counter-box__minus -
                            .counter-box__text 1
                            .counter-box__pluse +
                        .shopping-cart__footer--price $22.99
                .shopping-cart
                    .btn-del
                        img.icon.icon--trash(src='img/trash.svg')
                    .btn-fav
                        img.icon.icon--trash(src='img/favorite.svg')
                    .shopping-cart__title Shop No7 Protect & Perfect Intense Advanced Eye Cream
                    .shopping-cart__content
                        .shopping-cart__content--name SKU 2345
                        .shopping-cart__content--price Unit price: $22.99
                    .shopping-cart__footer
                        .counter-box
                            .counter-box__minus -
                            .counter-box__text 1
                            .counter-box__pluse +
                        .shopping-cart__footer--price $22.99
                .shopping-cart
                    .btn-del
                        img.icon.icon--trash(src='img/trash.svg')
                    .btn-fav
                        img.icon.icon--trash(src='img/favorite.svg')
                    .shopping-cart__title Shop No7 Protect & Perfect Intense Advanced Eye Cream
                    .shopping-cart__content
                        .shopping-cart__content--name SKU 2345
                        .shopping-cart__content--price Unit price: $22.99
                    .shopping-cart__footer
                        .counter-box
                            .counter-box__minus -
                            .counter-box__text 1
                            .counter-box__pluse +
                        .shopping-cart__footer--price $22.99
                .shopping-cart
                    .btn-del
                        img.icon.icon--trash(src='img/trash.svg')
                    .btn-fav
                        img.icon.icon--trash(src='img/favorite.svg')
                    .shopping-cart__title Shop No7 Protect & Perfect Intense Advanced Eye Cream
                    .shopping-cart__content
                        .shopping-cart__content--name SKU 2345
                        .shopping-cart__content--price Unit price: $22.99
                    .shopping-cart__footer
                        .counter-box
                            .counter-box__minus -
                            .counter-box__text 1
                            .counter-box__pluse +
                        .shopping-cart__footer--price $22.99
                .shopping-cart
                    .btn-del
                        img.icon.icon--trash(src='img/trash.svg')
                    .btn-fav
                        img.icon.icon--trash(src='img/favorite.svg')
                    .shopping-cart__title Shop No7 Protect & Perfect Intense Advanced Eye Cream
                    .shopping-cart__content
                        .shopping-cart__content--name SKU 2345
                        .shopping-cart__content--price Unit price: $22.99
                    .shopping-cart__footer
                        .counter-box
                            .counter-box__minus -
                            .counter-box__text 1
                            .counter-box__pluse +
                        .shopping-cart__footer--price $22.99
                .shopping-cart
                    .btn-del
                        img.icon.icon--trash(src='img/trash.svg')
                    .btn-fav
                        img.icon.icon--trash(src='img/favorite.svg')
                    .shopping-cart__title Shop No7 Protect & Perfect Intense Advanced Eye Cream
                    .shopping-cart__content
                        .shopping-cart__content--name SKU 2345
                        .shopping-cart__content--price Unit price: $22.99
                    .shopping-cart__footer
                        .counter-box
                            .counter-box__minus -
                            .counter-box__text 1
                            .counter-box__pluse +
                        .shopping-cart__footer--price $22.99
            .summary-panel
                h2.title-h2 Summary
                .summary
                    .summary-header
                        .summary-header__title Total
                        .summary-header__price $123.23
                    .summary-footer ($123.90 left)
                    .summary-btn PROCEED TO CHECKOUT