.popup.popup--notification.success#resolve
    .popup__row
        .popup__col
            p.popup__info Task has been resolved
        .popup__col
            a.btn-a.btn-a--small(href='#') Reopen
        .popup__col
            a.popup__close.b-close(href='#')