.popup.popup--preview#preview
    a.popup__close.b-close(href='#')
    .preview-wrapper
        .preview-wrapper--image
            img(src='img/slider/slider-big.png' alt='logo')
    .preview-wrapper-slider
        .preview-slider
            img(src='img/slider/slider-1.png' alt='logo')
        .preview-slider
            img(src='img/slider/slider-2.png' alt='logo')
        .preview-slider
            img(src='img/slider/slider-3.png' alt='logo')
    .preview-wrapper-arrow.preview-wrapper-arrow__left
        i.arrow
    .preview-wrapper-arrow.preview-wrapper-arrow__right
        i.arrow
    .btn-dd.btn-c--blue Back to issue