.popup.popup--new-task#viewTask
    .popup__top
        h2.title-h2 Make a call
        a.popup__close.b-close(href='#')
    .popup__bottom
        table.table
            tr
                td Description:
                td Call to Mike and clarify delivery address.
            tr
                td Priority:
                td High
            tr
                td Asignee:
                td John Doe
            tr
                td Due Date & Time:
                td 09/23/2020 12:30
            tr
                td Relates to:
                td John Doe
                    =' '
                    a.link(href='#') (Member ID: 45624)
            tr
                td Resolution Note:
                td -
        form.form
            .form__btn.form__btn--rigth
                .form__btn-itm
                    a.btn-a.btn-a--small.js-show-popup.b-close(href='#editTask') Edit
                .form__btn-itm
                    a.btn-a.btn-a--smal.js-show-popup.b-close(href='#resolveTask') Resolve
                .form__btn-itm
                    a.btn-a.btn-a--small.js-show-popup.b-close(href='#declineTask') Decline
