.popup.popup--notification.success#createdTask
    .popup__row
        .popup__col
            p.popup__info Task has been created
        .popup__col
            a.popup__info(href='') View
        .popup__col
            a.popup__close.b-close(href='#')