.popup.popup--request-new-product#requestNewProduct
    .popup__top
        h2.title-h2 Request a new product
        a.popup__close.b-close(href='#')
    .popup__bottom
        form.form
            .form__itm
                label.form__label
                    span.form__ttl Product name
                    textarea.form__textarea(placeholder='Nature`s Way Sambucus Black Elderberry Gummies with Vitamin C and Zinc, 60 Gummies')
            .form__itm
                label.form__label.form--inline.form--full
                    span.form__ttl Link (optional)
                    input.form__inp(type='text' value='' placeholder='https://www.amazon.com/Sambucus-Elderber…')
            .form__btn.form__btn--center
                .form__btn-itm
                    a.btn-b.b-close(href='#') Cancel
                .form__btn-itm
                    button.btn-a(type='button') Make Request
