.popup.popup--complementary-prods#analogs
    .popup__top
        h2.title-h2
        a.popup__close.b-close(href='#')
    .popup-analogs__top
        .making-order-info
            .making-order-info__label Possibly covered under part B/ part D
            .making-order-info__row
                .making-order-info__col
                    .making-product-info
                        .making-product-info__desc
                            img.making-order-info__img(src='img/product/product-small.jpg')
                            .making-order-info__content
                                .making-order-info__content--title Shop No7 Protect & Perfect Intense Advanced
                                .making-order-info__content--tag
                                    .tag Vegan
                                    .tag Gluten free
                                .making-order-info__content--items
                                    .making-order-info__box
                                        .title Active ingr:
                                        .text Calcium carbonade 1000 mg
                                .making-order-info__content--items.making-order-info__box--show
                                    .making-order-info__box
                                        .title Inactive ingr.:
                                        .text Carnauba wax, colloidal silicon dioxide, croscarmellose sodium, hypromellose, lactose, magnesium stearate, microcrystalline cellulose, propylene glycol, titanium dioxide
                                    .making-order-info__box
                                        .title Symptoms:
                                        .text Advil delivers safe and effective pain relief of tough pain including headaches, muscle aches, backaches, minor arthritis and other joint pain. More people reach for Advil than any other OTC pain reliever.
                                .making-order-info__content--desc Match by: active ingr:
                                    span paracetamol;
                                    | sympthoms:
                                    span headache
                        .making-product-info__right
                            .making-product-info__table
                                .making-product-info__table--text
                                    .title SKU
                                    .text 2342
                                .making-product-info__table--text
                                    .title Form
                                    .text Liquid
                                .making-product-info__table--text
                                    .title Pkg
                                    .text 1 fl oz (30 ml)
                                .making-product-info__table--text
                                    .title Strength
                                    .text 1000 mg
                            .making-product-info__price
                                .making-order-info__price $22.99
                                .making-order-info__items 23 items left
            .making-order-info__row
                .making-order-info__btn
                    .btn-link.btn-show-making more Info
                    a.btn-link(href='#') Analogs
                    a.btn-link.js-show-popup(href="#") Complementary prods
                    .counter-box
                        .counter-box__minus -
                        .counter-box__text 1
                        .counter-box__pluse +
                    .btn-making-order add to cart
    .popup__top
        h2.title-h2 Analogs to Item
    .popup__bottom
        form.form
            .form__itm.popup-analogs-tab-header
                ul.tabs__caption
                    li.active All (12)
                    li Direct(2)
                    li Indirect (10)
                //.prod-found 12 products found
                label.form__label.form--inline.form--medium
                    span.form__ttl Sort by
                    select.form__select
                        option(value='') By price asc
                        option(value='') By price asc 2
            .popup-making-order-list
                .making-order-info
                    .making-order-info__label Possibly covered under part B/ part D
                    .making-order-info__row
                        .making-order-info__col
                            .making-product-info
                                .making-product-info__desc
                                    img.making-order-info__img(src='img/product/product-small.jpg')
                                    .making-order-info__content
                                        .making-order-info__content--title Shop No7 Protect & Perfect Intense Advanced
                                        .making-order-info__content--tag
                                            .tag Vegan
                                            .tag Gluten free
                                        .making-order-info__content--items
                                            .making-order-info__box
                                                .title Active ingr:
                                                .text Calcium carbonade 1000 mg
                                        .making-order-info__content--desc Match by: active ingr:
                                            span paracetamol;
                                            | sympthoms:
                                            span headache
                                .making-product-info__right
                                    .making-product-info__table
                                        .making-product-info__table--text
                                            .title SKU
                                            .text 2342
                                        .making-product-info__table--text
                                            .title Form
                                            .text Liquid
                                        .making-product-info__table--text
                                            .title Pkg
                                            .text 1 fl oz (30 ml)
                                        .making-product-info__table--text
                                            .title Strength
                                            .text 1000 mg
                                    .making-product-info__price
                                        .making-order-info__price $22.99
                                        .making-order-info__items 23 items left
                    .making-order-info__row
                        .making-order-info__btn
                            a.btn-link(href='#') more Info
                            a.btn-link(href='#') Analogs
                            a.btn-link.js-show-popup(href="#") Complementary prods
                            .counter-box
                                .counter-box__minus -
                                .counter-box__text 1
                                .counter-box__pluse +
                            .btn-making-order add to cart
                .making-order-info
                    .making-order-info__row
                        .making-order-info__col
                            .making-product-info
                                .making-product-info__desc
                                    img.making-order-info__img(src='img/product/product-small.jpg')
                                    .making-order-info__content
                                        .making-order-info__content--title Advil Coated Tablets Pain Reliever and Fever Reducer, Ibuprofen 200mg, 100 Count (50 Packets of 2 tablets), On the Go Pain Relief, 2 Count (Pack of 50)
                                        .making-order-info__content--tag
                                            .tag Vegan
                                            .tag Gluten free
                                        .making-order-info__content--items
                                            .making-order-info__box
                                                .title Active ingr:
                                                .text Calcium carbonade 1000 mg
                                        .making-order-info__content--desc Match by: active ingr:
                                            span paracetamol;
                                            | sympthoms:
                                            span headache
                                .making-product-info__right
                                    .making-product-info__table
                                        .making-product-info__table--text
                                            .title SKU
                                            .text 2342
                                        .making-product-info__table--text
                                            .title Form
                                            .text Liquid
                                        .making-product-info__table--text
                                            .title Pkg
                                            .text 1 fl oz (30 ml)
                                        .making-product-info__table--text
                                            .title Strength
                                            .text 1000 mg
                                    .making-product-info__price
                                        .making-order-info__price $22.99
                                        .making-order-info__items 23 items left
                    .making-order-info__row
                        .making-order-info__btn
                            a.btn-link(href='#') more Info
                            a.btn-link(href='#') Analogs
                            a.btn-link.js-show-popup(href="#") Complementary prods
                            .counter-box
                                .counter-box__minus -
                                .counter-box__text 1
                                .counter-box__pluse +
                            .btn-making-order add to cart
                .making-order-info
                    .making-order-info__label Possibly covered under part B/ part D
                    .making-order-info__row
                        .making-order-info__col
                            .making-product-info
                                .making-product-info__desc
                                    img.making-order-info__img(src='img/product/product-small.jpg')
                                    .making-order-info__content
                                        .making-order-info__content--title Shop No7 Protect & Perfect Intense Advanced
                                        .making-order-info__content--tag
                                            .tag Vegan
                                            .tag Gluten free
                                        .making-order-info__content--items
                                            .making-order-info__box
                                                .title Active ingr:
                                                .text Calcium carbonade 1000 mg
                                        .making-order-info__content--desc Match by: active ingr:
                                            span paracetamol;
                                            | sympthoms:
                                            span headache
                                .making-product-info__right
                                    .making-product-info__table
                                        .making-product-info__table--text
                                            .title SKU
                                            .text 2342
                                        .making-product-info__table--text
                                            .title Form
                                            .text Liquid
                                        .making-product-info__table--text
                                            .title Pkg
                                            .text 1 fl oz (30 ml)
                                        .making-product-info__table--text
                                            .title Strength
                                            .text 1000 mg
                                    .making-product-info__price
                                        .making-order-info__price $22.99
                                        .making-order-info__items 23 items left
                    .making-order-info__row
                        .making-order-info__btn
                            a.btn-link(href='#') more Info
                            a.btn-link(href='#') Analogs
                            a.btn-link.js-show-popup(href="#") Complementary prods
                            .counter-box
                                .counter-box__minus -
                                .counter-box__text 1
                                .counter-box__pluse +
                            .btn-making-order add to cart
                .making-order-info
                    .making-order-info__label Possibly covered under part B/ part D
                    .making-order-info__row
                        .making-order-info__col
                            .making-product-info
                                .making-product-info__desc
                                    img.making-order-info__img(src='img/product/product-small.jpg')
                                    .making-order-info__content
                                        .making-order-info__content--title Shop No7 Protect & Perfect Intense Advanced
                                        .making-order-info__content--tag
                                            .tag Vegan
                                            .tag Gluten free
                                        .making-order-info__content--items
                                            .making-order-info__box
                                                .title Active ingr:
                                                .text Calcium carbonade 1000 mg
                                        .making-order-info__content--desc Match by: active ingr:
                                            span paracetamol;
                                            | sympthoms:
                                            span headache
                                .making-product-info__right
                                    .making-product-info__table
                                        .making-product-info__table--text
                                            .title SKU
                                            .text 2342
                                        .making-product-info__table--text
                                            .title Form
                                            .text Liquid
                                        .making-product-info__table--text
                                            .title Pkg
                                            .text 1 fl oz (30 ml)
                                        .making-product-info__table--text
                                            .title Strength
                                            .text 1000 mg
                                    .making-product-info__price
                                        .making-order-info__price $22.99
                                        .making-order-info__items 23 items left
                    .making-order-info__row
                        .making-order-info__btn
                            a.btn-link(href='#') more Info
                            a.btn-link(href='#') Analogs
                            a.btn-link.js-show-popup(href="#") Complementary prods
                            .counter-box
                                .counter-box__minus -
                                .counter-box__text 1
                                .counter-box__pluse +
                            .btn-making-order add to cart
            .form__btn.form__btn--center
                .form__btn-itm
                    a.btn-a.b-close(href='#') Close
