.popup.popup--notification.success#passwordChanged
    .popup__row
        .popup__col
            p.popup__info Your password was successfully changed.
        .popup__col
            a.popup__close.b-close(href='#')