.popup.popup--new-notes#addNewNotes
    .popup__top
        h2.title-h2 Manage Notes
        a.popup__close.b-close(href='#')
    .popup__bottom
        form.form
            .scroll-table
                table.user__table.user__table--edit.user__table--edit-notes
                    tr
                        td.header-td Note Text
                        td.header-td Visible on client card
                        td.header-td Created on
                        td.header-td Created by
                        td.header-td.text-right-td
                            button.btn-dd.btn-c--blue(type='button') Add note
                    tr
                        td.body-td
                            label.form__label
                                input.form__inp(type='text' value='')
                        td.body-td
                            .checkbox
                                label.checkbox__label
                                    input.checkbox__inp(type='checkbox')
                                    span.checkbox__btn
                        td(colspan="3").body-td
                            .btn-list-table
                                .btn-list-table__row
                                    button.btn-a.btn-a--small(type='button') Save
                                    button.btn-dd.btn-dd--o(type='button') Cancel
                    tr
                        td.body-td This customer usually calls to clalify delivery
                        td.body-td
                            .checkbox
                                label.checkbox__label
                                    input.checkbox__inp(type='checkbox')
                                    span.checkbox__btn
                        td.body-td 09/26/2020
                        td(colspan="2").body-td James Brown
                    tr
                        td.body-td This customer usually calls to clalify delivery
                        td.body-td
                            .checkbox
                                label.checkbox__label
                                    input.checkbox__inp(type='checkbox')
                                    span.checkbox__btn
                        td.body-td 09/26/2020
                        td(colspan="2").body-td James Brown
                    tr
                        td.body-td This customer usually calls to clalify delivery
                        td.body-td
                            .checkbox
                                label.checkbox__label
                                    input.checkbox__inp(type='checkbox')
                                    span.checkbox__btn
                        td.body-td 09/26/2020
                        td(colspan="2").body-td James Brown
                    tr
                        td.body-td This customer usually calls to clalify delivery
                        td.body-td
                            .checkbox
                                label.checkbox__label
                                    input.checkbox__inp(type='checkbox')
                                    span.checkbox__btn
                        td.body-td 09/26/2020
                        td(colspan="2").body-td James Brown
                    tr
                        td.body-td This customer usually calls to clalify delivery
                        td.body-td
                            .checkbox
                                label.checkbox__label
                                    input.checkbox__inp(type='checkbox')
                                    span.checkbox__btn
                        td.body-td 09/26/2020
                        td(colspan="2").body-td James Brown
                    tr
                        td.body-td This customer usually calls to clalify delivery
                        td.body-td
                            .checkbox
                                label.checkbox__label
                                    input.checkbox__inp(type='checkbox')
                                    span.checkbox__btn
                        td.body-td 09/26/2020
                        td(colspan="2").body-td James Brown
            .form__btn.form__btn--center
                .form__btn-itm
                    a.btn-a.btn-a--small.b-close(href='#') Cancel
