doctype html
html(lang='en')
    include layout/head
    body
        main.main.main--login
            .content
                include sections/check-email
            include blocks/footer
        include layout/scripts
