section.panel.panel--calls
    .container
        h2.title-h2 Call Center log
        .panel__outer
            .panel__itm.calls-filters
                .calls-filters-title
                    .calls-filters-title__col
                        .title-h3 Filters (1)
                        .btn-calls-filters Clear All
                    .calls-filters-title__col
                        .btn-calls-filters Show basic filters
                        .btn-calls-filters Show all filters
                .call-type-list