section.login
    .container
        .login__modal.login--check
            .login__wrap
                .logo.logo--small
                    img.logo__img(src='img/logo.svg' alt='logo')
                h3.title-h2 Check your email
                form.form
                    .form__itm.form--center
                        p.form__text We’ve sent password recovery link. Kindly also check your spam folder.
                    .form__itm
                        .form__btn
                            .form__btn-itm
                                a.btn-b(href='#') Cancel
                            .form__btn-itm
                                button.btn-a(type='button') Send again

