section.login
    .container
        .login__modal.login--password
            .login__wrap
                .logo.logo--small
                    img.logo__img(src='img/logo.svg' alt='logo')
                h3.title-h2 Enter new password
                form.form
                    .form__itm
                        label.form__label
                            span.form__ttl New password
                            input.form__inp(type='text' value='' placeholder='******')
                        .form__validation
                            .form__validation-outer
                                .form__validation-itm
                                    svg.icon.icon--success(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
                                        path(d='M256 0C114.836 0 0 114.836 0 256s114.836 256 256 256 256-114.836 256-256S397.164 0 256 0zm0 0')
                                        path(fill='#fff' d='M385.75 201.75L247.082 340.414c-4.16 4.16-9.621 6.254-15.082 6.254s-10.922-2.094-15.082-6.254l-69.332-69.332c-8.344-8.34-8.344-21.824 0-30.164 8.34-8.344 21.82-8.344 30.164 0l54.25 54.25 123.586-123.582c8.34-8.344 21.82-8.344 30.164 0 8.34 8.34 8.34 21.82 0 30.164zm0 0')
                                .form__validation-itm
                                    .form__validation-text Strong password
                    .form__itm
                        label.form__label
                            span.form__ttl Confirm new password
                            input.form__inp(type='text' value='' placeholder='******')
                    .form__itm
                        ul.list
                            li.list__li.list__li--success Minimum 8 characters
                            li.list__li.list__li--success Include at least one lowercase character (a-z)
                            li.list__li.list__li--success Include at least one uppercase character (A-Z)
                            li.list__li.list__li--success Include at least one numeric character (a-z)
                            li.list__li Passwords must match
                    .form__itm
                        button.btn-a(type='button') Reset password
                    .form__itm.form--center
                        a.btn-b(href='login.html') Back to login
