section.login
    .container
        .login__modal
            .login__wrap
                .logo.logo--small
                    img.logo__img(src='img/logo.svg' alt='logo')
                h3.title-h2 Can’t Sign In?
                form.form
                    .form__itm
                        p.form__text Please enter your OTC email.
                        p.form__text Follow the instructions to recover your password
                    .form__itm
                        label.form__label
                            span.form__ttl Label
                            input.form__inp(type='text' value='' placeholder='Username')
                        span.form__hint Enter email
                    .form__itm
                        button.btn-a(type='button') Reset password
                    .form__itm.form--center
                        a.btn-b(href='login.html') Back to login
