section.panel.panel--members
    .container
        h2.title-h2 Members
        .panel__outer
            .panel__itm.search-members
                h2.title-h2 Search
                .search-members__filter
                    .search
                        .search__outer
                            .search__itm.search__field
                                input.search__inp(type='text' placeholder='Search by Member ID, First Name,  Last Name')
                    button.btn-dd.btn-c--blue(type='button') SEARCH
        .table-members-list
            form.form.form-members-list
                table
                    tr
                        td.header-td Member ID
                        td.header-td First Name
                        td.header-td Last Name
                        td.header-td Gender
                        td.header-td
                            span Date of Birth
                                img.icon.icon--sort(src='img/sort.svg')
                        td.header-td Language
                        td.header-td Status
                        td.header-td
                    tr
                        td.body-td
                            a(href="#") 4567
                        td.body-td Ann
                        td.body-td Smith
                        td.body-td Female
                        td.body-td 12/09/2020
                        td.body-td
                            .user__row
                                .user__col
                                    img.icon.icon--flag(src='img/flags/united-states-of-america.svg')
                                .user__col
                                    span English (EN)
                        td.body-td
                            .tags.tags--green Active User
                        td.body-td
                            .btn-list-table
                                a.btn-c.btn-c--col.btn-c--orange(href="#")
                                    img.icon.icon--phone(src="img/outbound-call.svg")
                                a.btn-a.btn-a--small(href="#")
                                    span.btn-c--text view profile
                    tr
                        td.body-td
                            a(href="#") 4567
                        td.body-td Ann
                        td.body-td Smith
                        td.body-td Female
                        td.body-td 12/09/2020
                        td.body-td
                            .user__row
                                .user__col
                                    img.icon.icon--flag(src='img/flags/united-states-of-america.svg')
                                .user__col
                                    span English (EN)
                        td.body-td
                            .tags.tags--green Active User
                        td.body-td
                            .btn-list-table
                                a.btn-c.btn-c--col.btn-c--orange(href="#")
                                    img.icon.icon--phone(src="img/outbound-call.svg")
                                a.btn-a.btn-a--small(href="#")
                                    span.btn-c--text view profile
                    tr
                        td.body-td
                            a(href="#") 4567
                        td.body-td Ann
                        td.body-td Smith
                        td.body-td Female
                        td.body-td 12/09/2020
                        td.body-td
                            .user__row
                                .user__col
                                    img.icon.icon--flag(src='img/flags/united-states-of-america.svg')
                                .user__col
                                    span English (EN)
                        td.body-td
                            .tags.tags--green Active User
                        td.body-td
                            .btn-list-table
                                a.btn-c.btn-c--col.btn-c--orange(href="#")
                                    img.icon.icon--phone(src="img/outbound-call.svg")
                                a.btn-a.btn-a--small(href="#")
                                    span.btn-c--text view profile
                    tr
                        td.body-td
                            a(href="#") 4567
                        td.body-td Ann
                        td.body-td Smith
                        td.body-td Female
                        td.body-td 12/09/2020
                        td.body-td
                            .user__row
                                .user__col
                                    img.icon.icon--flag(src='img/flags/united-states-of-america.svg')
                                .user__col
                                    span English (EN)
                        td.body-td
                            .tags.tags--green Active User
                        td.body-td
                            .btn-list-table
                                a.btn-c.btn-c--col.btn-c--orange(href="#")
                                    img.icon.icon--phone(src="img/outbound-call.svg")
                                a.btn-a.btn-a--small(href="#")
                                    span.btn-c--text view profile
                    tr
                        td.body-td
                            a(href="#") 4567
                        td.body-td Ann
                        td.body-td Smith
                        td.body-td Female
                        td.body-td 12/09/2020
                        td.body-td
                            .user__row
                                .user__col
                                    img.icon.icon--flag(src='img/flags/united-states-of-america.svg')
                                .user__col
                                    span English (EN)
                        td.body-td
                            .tags.tags--green Active User
                        td.body-td
                            .btn-list-table
                                a.btn-c.btn-c--col.btn-c--orange(href="#")
                                    img.icon.icon--phone(src="img/outbound-call.svg")
                                a.btn-a.btn-a--small(href="#")
                                    span.btn-c--text view profile
                    tr
                        td.body-td
                            a(href="#") 4567
                        td.body-td Ann
                        td.body-td Smith
                        td.body-td Female
                        td.body-td 12/09/2020
                        td.body-td
                            .user__row
                                .user__col
                                    img.icon.icon--flag(src='img/flags/united-states-of-america.svg')
                                .user__col
                                    span English (EN)
                        td.body-td
                            .tags.tags--green Active User
                        td.body-td
                            .btn-list-table
                                a.btn-c.btn-c--col.btn-c--orange(href="#")
                                    img.icon.icon--phone(src="img/outbound-call.svg")
                                a.btn-a.btn-a--small(href="#")
                                    span.btn-c--text view profile
