section.panel.panel--orders
    .container
        h2.title-h2 Orders
        .panel__outer
            .panel__itm.calls-filters
                .calls-filters-title
                    .calls-filters-title__col
                        .title-h3 Filters (1)
                        .btn-calls-filters Clear All
                    .calls-filters-title__col
                        .btn-calls-filters.btn-calls-filters-show Show filters
                .calls-filters-list.calls-filters-list__orders
                    .calls-filters-input
                        label.form__label
                            span.form__ttl First Name
                            input.form__inp(type='text' value='' placeholder='Enter Name')
                        label.form__label
                            span.form__ttl Last Name
                            input.form__inp(type='text' value='' placeholder='Enter Name')
                        label.form__label
                            span.form__ttl Member ID
                            input.form__inp(type='text' value='' placeholder='Enter Member ID')
                        label.form__label
                            span.form__ttl Order #
                            input.form__inp(type='tel' value='' placeholder='Order')
                .call-type-list
                    .call-type-tags
                        .call-type-tags__title Call Type:
                        .call-type-tags__status Inbound
                        .call-type-tags__clear
        .table-calls-list
            form.form.form-calls-list
                .form-list-header
                    h3.title-h3 Filtered Results
                    button.btn-dd.btn-c--blue(type='button') Export to .CSV
                table
                    tr
                        td.header-td Customer Name
                        td.header-td Member ID
                        td.header-td Order ID
                        td.header-td Order Date
                        td.header-td Order Status
                        td.header-td Estimated Delivery date
                        td.header-td Shipping Carrier
                        td.header-td Tracking link
                        td.header-td Order Total $
                    tr
                        td.body-td Ann Smith
                        td.body-td
                            a(href="#") 763455735
                        td.body-td
                            a(href="#") 4567
                        td.body-td 12/09/2020 11:23:12
                        td.body-td Not Shipped
                        td.body-td 12/12/2020
                        td.body-td USPS
                        td.body-td
                            a(href="#") 543543543535343
                        td.body-td $ 233.90
                    tr
                        td.body-td Ann Smith
                        td.body-td
                            a(href="#") 763455735
                        td.body-td
                            a(href="#") 4567
                        td.body-td 12/09/2020 11:23:12
                        td.body-td Not Shipped
                        td.body-td 12/12/2020
                        td.body-td USPS
                        td.body-td
                            a(href="#") 543543543535343
                        td.body-td $ 233.90
                    tr
                        td.body-td Ann Smith
                        td.body-td
                            a(href="#") 763455735
                        td.body-td
                            a(href="#") 4567
                        td.body-td 12/09/2020 11:23:12
                        td.body-td Not Shipped
                        td.body-td 12/12/2020
                        td.body-td USPS
                        td.body-td
                            a(href="#") 543543543535343
                        td.body-td $ 233.90
                    tr
                        td.body-td Ann Smith
                        td.body-td
                            a(href="#") 763455735
                        td.body-td
                            a(href="#") 4567
                        td.body-td 12/09/2020 11:23:12
                        td.body-td Not Shipped
                        td.body-td 12/12/2020
                        td.body-td USPS
                        td.body-td
                            a(href="#") 543543543535343
                        td.body-td $ 233.90
                    tr
                        td.body-td Ann Smith
                        td.body-td
                            a(href="#") 763455735
                        td.body-td
                            a(href="#") 4567
                        td.body-td 12/09/2020 11:23:12
                        td.body-td Not Shipped
                        td.body-td 12/12/2020
                        td.body-td USPS
                        td.body-td
                            a(href="#") 543543543535343
                        td.body-td $ 233.90
                .pagination
                    .pagination-wrapper
                        .pagination-title Rows per page
                        label.form__label.pagination-call-select
                            select.form__select
                                option(value='') 10
                                option(value='') 5
                                option(value='') 1
                        .pagination-page
                            span 1-8
                            | of
                            span 8
                        .pagination-btn
                            .pagination-btn__prev &#8249;
                            .pagination-btn__next &#8250;