
// Colors
blueColor = #2979ff
greenColor = #7ed321
greenBrand = #8bc34a
greenLight = #f1f8e9
orangeBrand = #ffa000
redColor = #b30018
redLight = #ffebee
blueLight = #f0f4f9
blueBrand = #e3f2fd
yellowColor = #ffb400
yellowLight = #fff8e1
grey = #3A3A3A
greyLight = #979797
emphasis = #3D1D73