.calls-filters {

}

.calls-filters-title {
	display flex
	justify-content space-between
	margin-bottom 25px
	&__col {
		display flex
		align-items flex-end
	}
	.title-h3 {
		font-size 20px
		font-weight 500
	}
	.btn-calls-filters {
		font-size 20px
		font-weight 300
		margin-left 25px
		text-decoration underline
		color #0F73E7
		cursor pointer
	}
}