.table {
  td {
    padding 7px 30px 8px 0
  }
}
.table-members-list, .table-calls-list {
  width: 100%;
  margin-bottom: 25px;
  border-radius 20px
  background-color white
  table {
    width 100%
  }
  tr {
    border-bottom: 1px solid #CCCCCC;
    &:first-child {
      border-bottom: 2px solid #f0f4f9;
    }
    &:last-child {
      border-bottom none
    }
  }
  .header-td {
    padding: 30px 30px 30px 0;
    font-weight 500
    &:first-child {
      padding-left 37px
    }
    span {
      display flex
      align-items: center;
    }
  }
  .body-td {
    padding: 15px 30px 15px 0;
    vertical-align: middle;
    &:first-child {
      padding-left 37px
    }
    a {
      color #0F73E7
      text-decoration underline
    }
    .tags {
      margin 0
      display inline-flex
    }
  }
  .btn-list-table {
    display flex
    align-items stretch
    justify-content flex-end
    .btn-a, .btn-c {
      font-size 14px
      font-weight 500
      color white
      text-decoration none
      flex-flow row
      align-items center
      margin 0 0 0 20px
      border-radius 3px
    }
    .icon {
      margin-bottom 0
    }
  }
  .form-list-header {
    display flex
    align-items center
    justify-content space-between
    padding 30px 30px 0px 35px
  }
}

.col-3 {
  width 33%
}

.table-label-box {
  &__title {
    font-size 24px
    font-weight 500
    color #333
    margin-bottom 20px
  }
  table {
    width 100%
  }
  td {
    padding 0 20px 10px 0
    span {
      display block
      margin-bottom 10px
    }
  }
  td {
    &:first-child {

    }
    &:last-child {
      font-size 16px
      font-weight 500
    }
  }
}

