.btn-a {
  display block
  text-align center
  padding 15px
  background blueColor
  color #fff
  transition opacity 0.2s
  font-size: 16px;
  font-weight: 700;
  text-transform uppercase
  border-radius 3px
  margin 0 auto
  min-width 210px
  &:hover {
   opacity 0.7
  }
  &.btn-a--small {
    min-width 150px
    padding 15px 30px
  }
  &.btn-a--red {
    background redColor
  }
}
.btn-b {
  display inline-block
  text-align center
  transition opacity 0.2s
  font-size: 16px;
  font-weight: 700;
  color blueColor
  text-transform uppercase
  &:hover {
    opacity 0.7
  }
}
.btn-c {
  text-transform uppercase
  border-radius: 10px;
  display flex
  align-items center
  justify-content center
  text-decoration none
  font-size: 16px;
  font-weight: 700;
  padding 0 15px
  transition opacity 0.2s
  &:hover {
    opacity 0.7
  }
  &--blue {
    color: blueColor;
    background blueBrand
  }
  &--green {
    color: #fff;
    background greenBrand
  }
  &--orange {
    color: #fff;
    background orangeBrand
  }
  &--red {
    color: #fff;
    background redColor
  }
  .icon {
    margin-right 10px
  }
  &--col {
    flex-flow: column
    font-size 12px
    text-align: center
    .icon {
      margin-right 0
      margin-bottom: 8px
    }
  }
}
.btn-d {
  display block
  border 2px solid #006fea
  align-items center
  text-align center
  text-decoration none
  font-size: 16px;
  font-weight: 700;
  padding 10px 15px
  color: #006fea;
  text-transform: uppercase;
  transition color 0.2s, background 0.2s
  &--active {
    color #fff
    background #006fea
  }
  &:hover {
    color #fff
    background #006fea
  }
}
.btn-e {
  border-radius 4px
  border 2px solid rgba(0,0,0, .12)
  font-size 14px
  font-weight 500
  color #165FFF
  padding 7px 15px
  text-transform uppercase
  display block
  cursor pointer
}
.btn-dd {
  display flex
  align-items center
  flex 0 0 auto
  border-radius 4px
  text-transform uppercase
  font-size 14px
  font-weight 500
  padding 10px 15px
  &--o {
    color blueColor
    background-color transparent
  }
}

.btn-del {
  cursor pointer
}
